---
layout: default
image: /assets/images/ogp_default.png
---

<div class="archive">
  {% assign dateYear = "" %}
  {% assign dateMonth = "" %}

  {% for post in site.posts %}
  {% assign currYear = post.date | date: "%Y" %}
  {% assign currMonth = post.date | date: "%m" %}

  {% if currYear != dateYear %}
  {% if dateYear != "" %}
  <hr>
  {% endif %}

  {% assign dateYear = currYear %}
  {% endif %}

  {% if currMonth != dateMonth %}
  {% if dateMonth != "" %}
  <hr>
  {% endif %}
  <h2 class="archive-month">{{ currYear }}.{{ currMonth }}</h2>
  {% assign dateMonth = currMonth %}
  {% endif %}

  <div class="archive-item">
    <span class="archive-author fs-6">{{ post.author }}</span>
    <span class="archive-emoji">{{ post.emoji }} </span>
    <a href="{{ post.url | relative_url }}" class="archive-title fs-5">
      {{ post.title }}
    </a>
  </div>
  {% endfor %}
</div>
