---
layout: default
image: /assets/images/ogp_default.png
---

<div class="archive">
  {% assign dateYear = "" %}
  {% assign dateMonth = "" %}

  {% for post in paginator.posts %}
  {% assign currYear = post.date | date: "%Y" %}
  {% assign currMonth = post.date | date: "%m" %}

  {% if currYear != dateYear %}
  {% if dateYear != "" %}
  <hr>
  {% endif %}

  {% assign dateYear = currYear %}
  {% endif %}

  {% if currMonth != dateMonth %}
  {% if dateMonth != "" %}
  <hr>
  {% endif %}
  <h2 class="archive-month">{{ currYear }}.{{ currMonth }}</h2>
  {% assign dateMonth = currMonth %}
  {% endif %}

  <div class="archive-item">
    <span class="archive-author fs-6">{{ post.author }}</span>
    <span class="archive-emoji">{{ post.emoji }} </span>
    <a href="{{ post.url | relative_url }}" class="archive-title fs-5">
      {{ post.title }}
    </a>
  </div>
  {% endfor %}
</div>

<hr>

<!-- Pagination links -->
<div class="pagination d-flex justify-content-between">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}"><i class="previous fa-solid fa-arrow-left fa-2xl"></i></a>
  {% else %}
  <a href="{{ paginator.previous_page_path }}"><i class="invisible previous fa-solid fa-arrow-left fa-2xl"></i></a>
  {% endif %}

  <span class="page_number fs-5">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}"><i class="next fa-solid fa-arrow-right fa-2xl"></i></a>
  {% else %}
  <a href="{{ paginator.next_page_path }}"><i class="invisible next fa-solid fa-arrow-right fa-2xl"></i></a>
  {% endif %}
</div>
