/* general */
.body {
    font-family: "lores-12", "dotgothic16", system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

.navbar {
    font-family: "lores-12", "dotgothic16", system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    margin-bottom: 2rem;
    border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

/* archive */

.archive-year {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.archive-author {
    float: right;
    margin-left: 1rem;
}

.archive-item {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "dotgothic16", sans-serif;
}

.archive-title {
    color: #212529;
}

/* footer */
.footer-container {
    text-align: center;
}

.footer-icons {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.footer-icon-links {
    text-decoration: none;
    color: #212529;
}

.footer-icon-links:hover,
.footer-icon-links:focus {
    text-decoration: none;
    color: #212529;
}

.highlight {
    background-color: #272822;
}

pre.highlight {
    padding: 1rem;
}

.text-gray-dependent {
    color: rgba(0, 0, 0, 0.5);
}

/* dark mode */

html[data-bs-theme="dark"] .navbar {
    --bs-navbar-brand-color: var(--bs-body-color);
    --bs-navbar-active-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .footer-icon-links {
    text-decoration: none;
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .footer-icon-links:hover,
.footer-icon-links:focus {
    text-decoration: none;
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .archive-title {
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .text-gray-dependent {
    color: rgba(255, 255, 255, 0.5);
}

/* tanka */
.tanka-area {
    text-align: center;
    font-family: "dotgothic16", "lores-12", sans-serif;
}

.tanka {
    /* 縦書き */
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    display: inline-block;
    text-align: left;
    text-orientation: mixed;
    font-feature-settings: "vert";

    letter-spacing: 0.1em;
}

.tanka p:nth-child(n + 2) {
    padding-right: 100px;
}

.tate-chu-yoko {
    text-orientation: upright;
}

@media (max-width: 768px) {
    .tanka p:nth-child(n + 2) {
        padding-right: 10vw !important;
    }
}

@media (max-width: 480px) {
    .tanka p:nth-child(n + 2) {
        padding-right: 5vw !important;
    }
}

.kotobagaki {
    font-size: 0.8rem;
}

.kotobagaki-padding {
    margin-right: -10px;
}

.dash {
    vertical-align: 1.5px;
    padding: 5px;
    letter-spacing: -0.05em;
    font-family: "ヒラギノ角ゴ ProN", "Yu Gothic", sans-serif;
}

/* chart */
.fruitChart {
    width: 50%;
    max-width: 300px;
}

/* 2024-09-01-the-children-of-anchor-bay.md */
.tanka-background-dark {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: inset 0 0 5px 5px var(--bs-body-bg);

    color: #e1e1e1;
    padding: 15px;
}


/* image */
.responsive-img {
    width: 100%; /* 親要素の幅に合わせて画像を調整 */
    max-width: 640px; /* 画像の最大幅を設定 */
    height: auto; /* アスペクト比を維持 */
    display: block; /* 行間の隙間を防ぐため */
    margin: 0 auto; /* 中央揃えにする場合 */
}

/* misc */
.invisible {
    visibility: hidden;
  }

.transition-arrow {
    color: #4285F4
}
