---
layout: default
---

<div class="post">
  <h1>{{ page.title }}</h1>
  <span class="fs-4 text-muted">{{ page.date | date: "%b %d, %y" }}
    {% if page.custom_author %}
    <a href="{{ site.baseurl }}/category/{{ page.custom_author | slugify_author | url_encode }}">{{ page.author }}</a>
    {% else %}
    <a href="{{ site.baseurl }}/category/{{ page.author | slugify_author | url_encode }}">{{ page.author }}</a>
    {% endif %}
  </span>
  <div class="mt-4">{{ content }}</div>
  <div>
    <a href="https://twitter.com/intent/tweet?text={{page.title}}%0A{{site.url}}{{page.url}}" data-show-count="false">
      <i class="fa-brands fa-x-twitter footer-icons"></i>
    </a>
  </div>

  <hr>

  <div class="d-flex justify-content-between">
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa-solid fa-left-long fa-2xl transition-arrow"></i></a>
    {% else %}
    <a href="{{ page.next.url }}"><i class="invisible fa-solid fa-left-long fa-2xl transition-arrow"></i></a>
    {% endif %}

    <a href="{{ site.url }}" class="fs-5">HOME</a>

    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa-solid fa-right-long fa-2xl transition-arrow"></i></a>
    {% else %}
    <a href="{{ page.previous.url }}"><i class="invisible fa-solid fa-right-long fa-2xl transition-arrow"></i></a>
    {% endif %}
  </div>
</div>
